{% extends 'base.html' %}

{% block title %}<title>apli: Login</title>{% endblock %}

{% block content %}
    <h1 style="padding-top: 15px" class="heading">Login</h1>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        <p>Please login to see this page.</p>    
    {% endif %}

    {% load crispy_forms_tags %}
    <form method="post" action="{% url 'login' %}">
        {{ form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg" value="login"/>Submit</button>        
        <input type="hidden" name="next" value="{{ next }}" />
    </form>  
{% endblock %}