.sidebar-nav {
    margin-top: 20px;
    padding-left: 15px;
    list-style: none;    
}

.sidebar-nav li
{
    font-size: 17px;
    padding-bottom: 1px;
    text-align: right;
}

div.vertical-line
{
  width: 1px;
  background-color: #E5E5E5;
  height: 100%;
  position: absolute;
  left: 5px;
  float: left;  
}

.btn-link.btn-anchor {
  outline: none !important;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}