{% extends 'base.html' %}

{% block title %}<title>apli: {{ movie.title }}</title>{% endblock %}

{% block content %}
    <div style="padding-left: 5px">
        <div>
            <h1 style="padding-top: 15px" class="heading">{{ movie.title }}</h1>
            <hr>
        </div>
        
        <div style="padding-top: 1px; padding-bottom: 5px">
            <iframe width="800" height="450" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/{{ youtube_id }}"></iframe>
        </div>

        <div style="position: relative; padding-top: 5px; width: 500px;">
            {% if user.is_superuser %}
                <div class="card">
                    <div class="card-body">
                        <h3>Edit Movie Details</h3>
                        {% load crispy_forms_tags %}
                        <form method="post" style="margin-top: 1.3em" action=".">
                            {{ update_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" name="update" class="btn btn-primary btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        <hr>
        <div style="width: 500px;">
            <h3>Comments</h3>       
            {% for comment in movie.comments.all %}
            <div class="card">
                <div class="card-body">
                    <h4 class="font-weight-bold card-title">
                        {{ comment.user.username }}
                    </h4>
                    <p class="card-text">
                        {{ comment.text | linebreaks }}
                    </p>
                </div>
            </div>
            <br>
            {% empty %}
                <h5>No comments</h5>
            {% endfor %}
        </div>
        <br>
        <div>
            <h3>Leave a comment</h3>
                <div class="card w-75">
                    <div class="card-body">                    
                        <h3 class="font-weight-bold">{{ request.user.username }}</h3>
                        {% load crispy_forms_tags %}
                        <form method="post" style="margin-top: 1.3em">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" name="comment" class="btn btn-primary btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}